@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);



span {  
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  0% {
    text-shadow: 0 0 40px blacksmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px blacksmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  0% {
    text-shadow: 0 0 40px blacksmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px blacksmoke;
    opacity: 0;
  }
}

.fontsmoke{
font: 8vw/25vh "gloucester-open-face";

}
